.booking {
    width: 100vw;
    max-width: 100%;
    padding: 7rem 1rem;
    background-color: $red-dark;
    @include respond(phone) {
        // Media query
        padding-top: 5.5rem;
        padding-bottom: 2rem;

    }
    @include respond(ie11) {
        // Media query
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-row-gap: 2rem;
        grid-template-columns: max-content;
        @include respond(phone) {
            // Media query
            grid-template-columns: unset;
        }
        justify-content: center;
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-direction: column;
        }
    }

    &__area {
        display: grid;
        grid-row-gap: 1rem;
        width: 100%;
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include respond(ie11) {
            // Media query
            display: flex;
            margin-bottom: 1rem;
            align-content: space-between;
            flex-grow: 1;
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            margin-bottom: 1rem;
        }
        &--butt {
            margin-bottom: .8rem;    
        }
    }

    &__label {
        font-size: 2rem;
        @include respond(phone) {
            // Media query
            font-size: 1.4rem;
        }
        @include respond(ie11) {
            // Media query
            margin-right: 2rem;
            flex-grow: 1;
        }
    }

    &__input {
        padding: .5rem;
        border-radius: 10px;
        outline: none;
        box-shadow: 0;
        border: none;
        border-bottom: 7px solid $green;
        transition: .3s;
        &:invalid {
            border-bottom: 7px solid $red;
        }
        font-size: 1.6rem;
        @include respond(phone) {
            // Media query
            font-size: 1.4rem;
        }
    }

    .booking-heading {
        color: white;
        @include respond(tab-port) {
            // Media query
            margin-bottom: 0;
        }
    }

    &__note {
        border-bottom: 3px solid $red;
        @include respond(ie11) {
            // Media query
            margin-bottom: 2rem;
        }
    }
}