.gallery {
    width: 100vw;
    max-width: 100%;
    padding: 5rem 4rem 3rem 4rem;

    background-image: linear-gradient(rgba($red,0.7), rgba($red,0.7)), url('assets/images/background/background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include respond(tab-port) {
        // Media query
        padding: 5rem 2rem 2rem 2rem;
    }
    @include respond(tab-port) {
        // Media query
        padding: 5rem .5rem 2rem .5rem;
    }

    &__box {
        max-width: 55%;
        margin: 0 auto;
        @include respond(tab-land) {
            // Media query
            max-width: 90%;
        }
        @include respond(tab-port) {
            // Media query
            max-width: 100%;
        }
    }
    
    &__tabs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 33.3%));
        grid-auto-rows: min-content;
        justify-items: center;
        grid-row-gap: 1.5rem;
        @include respond(ie11) {
            // Media query
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        margin-bottom: 5rem;
        list-style: none;
        background-color: $red-dark;
        padding: 2rem;
        @include respond(tab-port) {
            // Media query
            margin-bottom: 2rem;
        }
        @include respond(phone) {
            // Media query
            margin-bottom: .5rem;
        }

        li {
            @include respond(ie11) {
                // Media query
                display: flex;
                justify-content: center;
            }
            a {
                font-size: 2.4rem;
                font-family: $font-heading;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
            }
        }
        
    }

    &__icon {
        background-color: $red;
        fill: white;
        width: 9rem;
        height: 9rem;
        @include respond(tab-port) {
            // Media query
            width: 7.5rem;
            height: 7.5rem;
        }
        @include respond(phone) {
            // Media query
            width: 5rem;
            height: 5rem;
        }
    }

    &__interior-view,
    &__garden-view,
    &__deatils-view,
    &__events-view,
    &__food-view,
    &__deserts-view {
        max-height: 14rem;
        overflow: hidden;
        @include respond(tab-land) {
            // Media query
            max-height: 18rem;
        }
        @include respond(tab-port) {
            // Media query
            max-height: 13rem;
        }
        @include respond(phone) {
            // Media query
            max-height: 7rem;
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__next {
        position: absolute;
        right: -1px;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }

    &__prev {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    @include respond(ie11) {
        // Media query
        #gallery-ie11-1 {
            grid-column: 1;
            grid-row: 1;
            margin-bottom: 1rem;
        }
        #gallery-ie11-2 {
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 1rem;
        }
        #gallery-ie11-3 {
            grid-column: 3;
            grid-row: 1;
            margin-bottom: 1rem;
        }
        #gallery-ie11-4 {
            grid-column: 1;
            grid-row: 2;
        }
        #gallery-ie11-5 {
            grid-column: 2;
            grid-row: 2;
        }
        #gallery-ie11-6 {
            grid-column: 3;
            grid-row: 2;
        }
    }
}