.ordering {
    display: grid;
    grid-template-columns: auto auto;
    @include respond(ie11) {
        // Media query
        grid-template-columns: 1fr auto;
    }
    grid-template-rows: auto 1fr;

    background-color: $red-dark;
    padding-bottom: 3rem;

    @include respond(tab-port) {
        // Media query
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    &__shop {
        grid-column: 1;
        grid-row: 2;
        margin: 0 2rem;
        @include respond(tab-port) {
            // Media query
            grid-column: 1;
            grid-row: 2;
        }
    }
    &__cart {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-rows: min-content min-content auto;

        margin-right: 1rem;
        @include respond(tab-port) {
            // Media query
            grid-column: 1;
            grid-row: 4;
        }
    }
    &__total {
        font-size: 5rem;
        color: $orange;
        text-align: center;
        margin-top: 1.5rem;
        font-weight: 300;
        @include respond(ie11) {
            // Media query
            grid-row: 2;
            grid-column: 1;
        }

    }
    &__heading {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 2rem;
        margin-top: 2rem;
        @include respond(tab-port) {
            // Media query
            grid-column: 1;
            grid-row: 1;
        }
        &--cart {
            grid-column: 2;
            grid-row: 1;
            @include respond(tab-port) {
                // Media query
                grid-column: 1;
                grid-row: 3;
            }
        }
    }
    // Form
    &__form {
        grid-column: 1;
        grid-row: 3;
    }
    &__area {
        display: flex;
        flex-direction: column;
    }
    &__input {
        padding: .5rem;
        border-radius: 10px;
        outline: none;
        box-shadow: 0;
        border: none;
        border-bottom: 7px solid $green;
        transition: .3s;
        width: 100%;

        margin-bottom: 1rem;
        &:invalid {
            border-bottom: 7px solid $red;
        }
        font-size: 1.6rem;

        @include respond(tab-port) {
            // Media query
            width: 80%;
            align-self: center;
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                width: 100%;
            }
        }

        @include respond(phone) {
            // Media query
            font-size: 1.4rem;
        }
    }
    &__textarea {
        margin-bottom: 1rem;
        width: 100%;
        @include respond(tab-port) {
            // Media query
            width: 80%;
            align-self: center;
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            width: 100%;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 15rem));
        grid-auto-rows: minmax(min-content, 5.55rem);
        @include respond(phone) {
            // Media query
            grid-auto-rows: minmax(min-content, 3rem);
            grid-template-columns: repeat(auto-fill, minmax(min-content, 13rem));
        }
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        text-align: center;

        margin-bottom: 2rem;
        background-color: $red;
        padding: 1rem;
        border-radius: 4px;
        font-family: $font-heading;
        font-size: 2rem;
        list-style: none;

        li {
            @include respond(ie11) {
                // Media query
                margin-left: 1.5rem;
            }
            a {
                text-decoration: none;
                color: white;
                @include respond(phone) {
                    // Media query
                    font-size: 1.8rem;
                }
                span {
                    font-size: 1.6rem;
                    @include respond(phone) {
                        // Media query
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.shop {
    &__item {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr 1fr;

        align-items: center;
        
        margin-bottom: 1rem;
        background-color: $red;
        padding: 1rem;
        border-radius: 4px;

        @include respond(phone) {
            // Media query
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }
    }
    &__heading {
        grid-column: 1;
        grid-row: 1;
        @include respond(phone) {
            // Media query
            grid-row: 1;
            grid-column: 1;
        }
    }
    &__desc {
        font-size: 1.4rem;
        font-style: italic;
        grid-column: 1;
        grid-row: 2;
        @include respond(phone) {
            // Media query
            grid-row: 2;
            grid-column: 1;
        }
    }
    &__price {
        font-family: $font-heading;
        font-size: 3rem;
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-right: 2rem;
        @include respond(phone) {
            // Media query
            grid-row: 2;
            grid-column: 2;
        }
    }
    &__btn {
        background-color: $orange;
        font-size: 2.5rem;
        &:hover {
            transform: scale(1.2);
        }
        &--add {
            grid-column: 3;
            grid-row: 1 / span 2;
            padding: .2rem 1rem;
            @include respond(phone) {
                // Media query
                grid-row: 1;
                grid-column: 2;
                justify-self: center;
            }
        }
        &--remove {
            grid-row: 2;
            grid-column: 3;
            padding: .2rem 1rem;
        }
    }
}

.cart {
    list-style: none;
    @include respond(ie11) {
        // Media query
        grid-column: 1;
        grid-row: 1;
    }

    &__item {
        display: grid;
        grid-template-columns: minmax(20px, auto) 1fr auto 30px;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;

        padding-bottom: 1rem;
        border-bottom: 3px solid $red-light;
    }
    &__text {
        justify-self: start;
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: 2.5rem;
    }
    &__quantity {
        grid-column: 2;
        grid-row: 2;
    }
    &__price {
        grid-row: 2;
        grid-column: 1;
        font-size: 2.5rem;
    }
}