.about {
    width: 100vw;
    max-width: 100vw;

    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: min-content 4fr min-content;
    grid-auto-flow: dense;
    grid-gap: 4rem;
    @include respond(tab-land) {
        // Media query
        grid-gap: 3rem;
    }
    @include respond(phone) {
        // Media query
        grid-gap: 1rem;
    }
    justify-content: center;
    @include respond(tab-land) {
        // Media query
        grid-template-rows: min-content, 1fr, min-content min-content;
        grid-template-columns: 100%;
        grid-auto-flow: unset;

        padding: 2rem;
        padding-top: 5.5rem;
    }

    padding: 12rem 3rem 12rem 3rem;
    background-image: linear-gradient(rgba($red,0.95), rgba($red,0.95)), url(../img/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    &__heading {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        border-bottom: none;
        @include respond(tab-land) {
            // Media query
            grid-row: 1 / 2;
            grid-column: unset;
            justify-self: center;
        }
    }

    &__slideshow {
        grid-row: 1 / span 3;
        align-self: center;
        justify-self: center;
        width: 100%;
        img {
            width: 100%;
        }
        @include respond(tab-land) {
            // Media query
            grid-row: 2 / 3;
            width: 80%;
        }
    }

    &__text {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        @include respond(tab-land) {
            // Media query
            grid-row: 3 / 4;
            grid-column: unset;
        }
        p span {
            color: $orange;
        }
    }

    &__awards {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        width: 100%;
        @include respond(tab-land) {
            // Media query
            grid-row: 4 / 5;
            grid-column: unset;
        }
    }
}