.booking {
    padding: 70rem 0;
    background-color: $red-dark;

    &__form {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-row-gap: 20rem;
    }

    &__area {
        display: grid;
        grid-row-gap: 10rem;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &--butt {
            margin-bottom: 8rem;    
        }
    }

    &__label {
        font-size: 20rem;
    }

    &__input {
        padding: 5rem;
        border-radius: 10px;
        outline: none;
        box-shadow: 0;
        border: none;
        border-bottom: 7px solid $green;
        transition: .3s;
        &:invalid {
            border-bottom: 7px solid $red;
        }
    }

    &__btn {
        margin-top: 30rem;
        padding: 10px;
        width: 170rem;

        outline: none;
        font-size: 40rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        background-color: $red;
        border: 3px $red-light solid;
        border-radius: 100px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            border: 3px $red solid;
            transform: scale(1.05);
        }
    }

    .booking-heading {
        font-size: 60rem;
        border-bottom: 5px solid $red;
        color: white;
    }

    &__note {
        border-bottom: 3px solid $red;
    }
}