.job {
    padding: 7rem 1rem;
    background-color: $red-dark;
    @include respond(phone) {
        // Media query
        padding-top: 5.5rem;
        padding-bottom: 2rem;

    }

    &__form {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-row-gap: 2rem;
        grid-template-columns: max-content;
        justify-content: center;
        @include respond(phone) {
            // Media query
            grid-template-columns: unset;
        }
    }

    &__area {
        display: grid;
        grid-row-gap: 1rem;
        width: 100%;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &--butt {
            margin-bottom: .8rem;    
        }
    }

    &__label {
        font-size: 2rem;
        @include respond(phone) {
            // Media query
            font-size: 1.4rem;
        }
    }

    &__input {
        padding: .5rem;
        border-radius: 10px;
        outline: none;
        box-shadow: 0;
        border: none;
        border-bottom: 7px solid $green;
        transition: .3s;
        &:invalid {
            border-bottom: 7px solid $red;
        }
        font-size: 1.6rem;
        @include respond(phone) {
            // Media query
            font-size: 1.4rem;
        }
    }

    &__btn {
        margin-top: 3rem;
        padding: 10px;
        width: 17rem;
        @include respond(phone) {
            // Media query
            width: 14rem;
            font-size: 3rem;
        }

        outline: none;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        background-color: $red;
        border: 3px $red-light solid;
        border-radius: 100px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            border: 3px $red solid;
            transform: scale(1.05);
        }
    }

    .booking-heading {
        color: white;
        @include respond(tab-port) {
            // Media query
            margin-bottom: 0;
        }
    }

    &__note {
        text-align: center;
        border-bottom: 3px solid $red;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.8rem;
        justify-self: start;
        border-bottom: 3px solid $red;
    }
}