.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90rem 70rem;

    background-image: linear-gradient(rgba($red,0.9), rgba($red,0.9)), url(../img/background3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    
    &__box {
        display: grid;
        justify-items: start;
    }

    &__item {
        font-size: 22rem;
        margin-bottom: 5rem;
    }

    &__hours {
        margin-top: 20rem;
        border-top: 3px solid $red-light;
    }

    &__map {
        width: 100%;
        img {
            width: 100%;
        }
    }
}