.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: space-between;
    grid-column-gap: 30rem;
    grid-row-gap: 10rem;

    padding: 60rem 40rem 20rem 40rem;
    background-color: #212121;

    @include respond(phone) {
        // Media query
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        padding: 20rem;
        padding-top: 40rem;
    }


    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max-content, 70rem));
        justify-content: start;
        grid-gap: 10rem;
        
        list-style: none;
        margin-top: 10rem;
        @include respond(phone) {
            // Media query
            justify-content: space-evenly;
        }
    }
    &__item {
        & a {
            text-decoration: none;
            color: #424242;
            font-size: 18rem;
            transition: .3s;
            &:hover {
                color: white;
            }
        }
    }
    &__nav {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        @include respond(phone) {
            // Media query
            grid-template-rows: min-content min-content;
        }
    }
    &__social {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, min-content));
        grid-gap: 20rem;
        align-self: end;
        
        list-style: none;
        justify-content: start;
        @include respond(phone) {
            // Media query
            justify-content: space-evenly;
        }
    }
    &__icon {
        width: 35rem;
        height: 35rem;
    }
    
    &__newsletter {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: end;
        @include respond(phone) {
            // Media query
            justify-items: center;
        }
    }
    &__form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        @include respond(tab-land) {
            // Media query
            grid-template-rows: repeat(4, minmax(min-content, 30rem));
            justify-content: center;
        }
        grid-gap: 10rem;
        width: 70%;
        align-items: start;
        justify-items: start;
        grid-auto-flow: column;
    }
    &__name-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10rem;
        width: 100%;
        @include respond(tab-land) {
            // Media query
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
    &__input {
        width: 100%;
        padding: 5rem;
        border-radius: 10px;
        outline: none;
        box-shadow: 0;
        border: none;
        border-bottom: 5px solid $green;
        transition: .3s;
        &--email {
            justify-self: stretch;
        }
        &:invalid {
            border-bottom: 5px solid $red;
        }
    }
    &__btn {
        align-self: center;
        justify-self: center;
        padding: 5px 10rem;

        outline: none;
        color: white;
        background-color: $red;
        border: 3px $red-light solid;
        border-radius: 100px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            border: 3px $red solid;
            transform: scale(1.05);
        }
    }
    &__copy {
        grid-column: 1 / -1;
        color: #424242;
        text-align: center;
        @include respond(phone) {
            // Media query
            grid-column: unset;
        }
    }
    &__news-header {
        font-family: $font-heading;
        font-size: 30rem;
        text-transform: uppercase;
        border-bottom: 3px solid $red;
        justify-self: center;
        @include respond(tab-land) {
            // Media query
            font-size: 24rem;
        }
    }
    &__logo {
        min-width: 75rem;
        width: 100%;
        height: auto;
        justify-self: center;
        align-self: center;
        @include respond(phone) {
            // Media query
            min-width: 35rem;
            width: 50rem;
            height: auto;
            grid-column: 1 / 2;
        }
    }


    //Social media colors
    .facebook {
        transition: .3s;
        fill: #3b5998;
        &:hover {
            transform: scale(1.2);
        }
    }
    .twitter {
        transition: .3s;
        fill: #55acee;
        &:hover {
            transform: scale(1.2);
        }
    }
    .instagram {
        transition: .3s;
        fill: #517fa4;
        &:hover {
            transform: scale(1.2);
        }
    }
    .tripadvisor {
        transition: .3s;
        fill: #00AF87;
        &:hover {
            transform: scale(1.2);
        }
    }
    .foursquare {
        transition: .3s;
        fill: #F94877;
        &:hover {
            transform: scale(1.2);
        }
    }
}