.gallery {
    max-width: 100vw;
    padding: 70rem 40rem;

    background-image: linear-gradient(rgba($red,0.7), rgba($red,0.7)), url(../../img/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    &__box {
        max-width: 60%;
        margin: 0 auto;
    }
    
    &__tabs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 33.3%));
        grid-auto-rows: min-content;
        justify-items: center;
        grid-row-gap: 15rem;

        margin-bottom: 50rem;
        list-style: none;
        background-color: $red-dark;
        padding: 20rem;

        li a {
            font-size: 28rem;
            font-family: $font-heading;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
    }

    &__tab {
        transition: .3s;
        &:focus {
            border-bottom: 5px solid $red-light;
            font-size: 34rem;
        }
    }

    &__icon {
        fill: $red;
        width: 130rem;
        height: 130rem;
    }
    &__next {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }
    &__prev {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        cursor: pointer;
    }
}