.header {
    max-width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-items: center;
    @include respond(ie11) {
        // Media query
        display: flex;
        justify-content: center;
    }

    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__container {
        display: grid;
        grid-template-rows: min-content min-content min-content;
        align-items: center;
        grid-row-gap: 2rem;

        text-align: center;
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-direction: column;
        }
    }

    &__img {
        width: 90%;
        justify-self: center;
        @include respond(phone) {
            // Media query
            width: 75%;
        }
    }

    &__button {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: 2rem;
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-direction: column;
        }
    }

    &__icon {
        fill: $red;
        width: 6rem;
        height: 6rem;
    }

    &__h3 {
        margin-bottom: 2rem;
    }
}