.header {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        max-width: 75%;
        text-align: center;

        display: grid;
        grid-template-rows: min-content min-content min-content;
        align-items: center;
        grid-row-gap: 20rem;
    }

    &__item {
        background-color: $red;
    }

    &__button {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: 20rem;
    }

    &__icon {
        fill: $red;
        width: 45rem;
        height: 45rem;
        margin-top: -15rem;
    }
}