.special {
    max-width: 100vw;
    padding: 7rem 1.5rem 4rem 1.5rem;

    @include respond(phone) {
        // Media query
        padding: 2rem;
        padding-top: 5.5rem;
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
        grid-gap: 1rem;
        @include respond(tab-port) {
            // Media query
            grid-template-columns: 1fr 1fr;
        }
        @include respond(ie11) {
            // Media query
            display: flex;
            flex-wrap: wrap;
        }

        span {
            color: white;
            display: none;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            padding: 1rem;
            opacity: 0;
            background-color: $red;
            border-radius: 3px;
            font-size: 3rem;
            font-weight: 300;
            text-align: center;
            @include respond(phone) {
                // Media query
                font-size: 2.5rem;
            }
        }
    }

    &__heading {
        margin-bottom: .5rem;

        color: $red;
        text-align: center;
    }

    &__info {
        margin-bottom: 5rem;

        color: gray;
        font-style: italic;
        text-align: center;
        font-size: 1.6rem;
    }
    
    &__item {
        position: relative;
        overflow: hidden;
        @include respond(ie11) {
            // Media query
            flex-grow: 1;
            flex-basis: 33.33%;
        }
    }
    
    &__item:hover &__img {
        transform: scale(1.15);
        & ~ span {
            display: block;
            opacity: 1;
        }
    }

    &__img {
        width: 100%;
        transition: .5s;
    }
}

.lb-data .lb-details .lb-caption {
    font-size: 1.35rem;
    color: white;
}