*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    @include respond(tab-land) {
        // Media query
        font-size: 60%;
    }
}

body {
    box-sizing: border-box;
    min-width: 100vw;
}

.activeTabView {
    transition: .5s;
    border-bottom: .5rem solid $red-light;
}