// Colors
// $red: #eb2f06;
// $red-light: #fa5d3b;
// $red-dark: #981e04;
// $orange: #FCAC37;
$green: #78e08f;


$red-dark:   #D32F2F;
$red:        #F44336;
$red-light:  #FFCDD2;
$orange:         #FF9800;
