.career-nav {
    width: 100%;
    background-color: #212121;
    padding: 1rem 4rem;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            div svg {
                transform: translateX(-0.65vw);
            }
        }
    }

    &__box {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }

    &__icon {
        max-width: 6rem;
        max-height: 6rem;
        fill: $red;
        transition: .3s;
    }


    &__text {
        margin-left: 1.5rem;
        font-size: 1.4rem;
    }


    &__logo {
        width: 3rem;
        justify-self: end;
    }
}