.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    padding: 10rem;

    background-color: #212121;
    &__list {
        display: grid;
        grid-column-gap: 5rem;
        align-items: center;
        justify-items: center;
        grid-auto-flow: column;

        list-style: none;
    }
    &__item {
        transition: .2s;
        &:hover {
            transform: scale(1.1);
        }
        &--head {
            grid-column: 6 / 7;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 24rem;
        color: $red;
        font-family: $font-heading;
    }
    &__current {
        transition: .3s;
        border-bottom: 3rem solid $red-light;
    }
    &__icon {
        width: 40rem;
        height: auto;
        cursor: pointer;
    }
}